{% extends "base.html" %}

{% block main_content %}
<div class="mt-5">
    <div class="text-center">
        <h2 class="display-4 mb-4">Welcome to the Arena Map Tool</h2>
    </div>
    <div class="mb-4">
        <p class="lead">
            To make use of this tool, you need an Arena map. You can install one from here:
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1404827698" rel="noopener noreferrer"
                target="_blank">Arena Map</a>
        </p>
        <p>Please support the author of the original map.</p>
        <p> You can help the development of this tool or report a bug <a href="#" rel="noopener noreferrer" target="_blank">here.</a> </p>
        <h3>Tool Steps:</h3>
        <ol class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item">
                <span class="lead mb-1">Select nations that will be used in map generation. </span> <br/>
                <p class="mt-1 mb-0 alert alert-info">There is no validation that nations are selected from the same Age. You should select at least 2 nations from the same Age for the game to not declare you a winner immediately.<br/>
                There is no validation for land / water nation, so please be careful when selecting them.</p>
            </li>
            <li class="list-group-item">
                <span class="lead">One by one, you will be prompted to generate commanders and units for the selected nations.</span><br/>
                <p class="mt-1 mb-0 alert alert-info">You can skip nations if you do not want them having anything but a starting expansion party.</p>
            </li>
            <li class="list-group-item">
                <span class="lead">You can select a map with a cave in it to test this specific terrain.</span><br/>
            </li>
        </ol>
    </div>
    <p class="text-center">
        <a href="/dom5/arena-mapgen/select-nations/" class="btn btn-primary btn-lg">Start</a>
    </p>
</div>
{% endblock main_content %}